body {
    display: flex;
    flex-direction: column;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header, .first {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;

    
}
.header {
    display: flex;
    justify-content: space-between;
}
.links {
    margin-left: auto;
    text-decoration: none;
    
}
a {
    text-decoration: none;
    color: #F9FAF8;
    margin: 7px;
}

.first {
    display: flex;
    justify-content: center;
}
.first-content {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    
}
button {
    width: 100px;
}
.second {
    text-align: center;
}

.second-content {
    display: flex;

}
.framed {
    border: #3882F6;
    border-radius: 8px;
    border-width: 3px;
    border-style: groove;
    padding: 10px;
}

.third {
    background-color: #E5E7EB;
    
}
.quote {
    font-style: italic;
    font-weight: 100;
    font-size: 24px;
    color: #1F2937;
}
.author {
    text-align: right;
    font-weight: 800;
}

.container {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 10px;
    padding: 15px;
    display: flex;
}

.signup2 {
    margin-left: auto;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 10px;
    text-align: center;
    margin-top: auto;
}